{{ define "main" }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
  
  {{ range $paginator.Pages }}
  <article class="article-container">
    <div class="article-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006.01.02" }}</time>
      {{ if .Params.categories }}
      <span> / </span>
      {{ range .Params.categories }}
      <span>{{ . }}</span>
      {{ end }}
      {{ end }}
    </div>
    
    <h2 class="article-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    
    <div class="article-summary">
      {{ .Summary }}
    </div>
    
    {{ if .Truncated }}
    <a href="{{ .Permalink }}" class="read-more">Read More →</a>
    {{ end }}
  </article>
  {{ end }}
  
  {{ template "partials/pagination.html" . }}
{{ end }}
